.aboutMe {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 32px;
    background-color: white;
}

.textAbout {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    align-self: center;
    white-space: pre-line;
}

@media screen and (max-width: 600px) {
    .textAbout {
        flex: 100%;
        max-width: 100%;
    }
}